.gameCard{
    width: 100%;
    border-radius: 16px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 20px;
    box-sizing: border-box;
    font-family: Poppins;
}

.gameCard__live{
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #ff4747, #a80608);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 2px 10px;
    box-sizing:border-box;
}

.gameCard__liveText{
    font-size: 24px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameCard__time{
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 2px 10px;
    box-sizing:border-box;
}

.gameCard__timeText{
    font-size: 24px;
    color: #000;
    -webkit-text-fill-color: #000;
}

.gameCard__right{
    width: 360px;
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.gameCard__row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
}

.gameCard__team{
    font-size: 24px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameCard__odd{
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 2px 10px;
    box-sizing:border-box;
}

.gameCard__oddText{
    font-size: 24px;
    color: #000;
    -webkit-text-fill-color: #000;
}