.gameCard {
    width: 100%;
    position: relative;
    border-radius: 16px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    gap: 20px;
    text-align: right;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
}

.gameCard__live {
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #ff4747, #a80608);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    box-sizing: border-box;
}

.gameCard__liveText {
    position: relative;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameCard__time {
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    box-sizing: border-box;
}

.gameCard__timeText {
    position: relative;
    color: #000;
    -webkit-text-fill-color: #000;
}

.gameCard__right {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
}

.gameCard__row {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.gameCard__team {
    position: relative;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameCard__odd {
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: right;
}

.gameCard__oddText {
    position: relative;
    color: #000;
    -webkit-text-fill-color: #000;
}