.qc { margin-top: 40px; }
.sectionHeader h2 { color:#fff; font-weight:700; font-size:28px; margin:0 0 20px 0; }

.qcGrid{
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:20px;
}

.qcIconImg {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.qcCard{
    height:132px;
    border-radius:16px;
    background:#1e1e1e;
    display:flex;
    align-items:center;
    gap:12px;
    padding-left:12px;
    border:0;
    cursor:pointer;
    text-align:left;
}

.qcText{
    font-size:24px;
    font-weight:700;
    background: linear-gradient(179.71deg, #fff, #e6e7e8);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}