.section-title{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:20px;
}

.section-title__icon{
    width:44px;
    height:44px;
    object-fit:cover;
}

.b{
    position:relative;
    font-size:36px;
    font-family:Poppins;
    color:#fff;
    text-align:left;
}